@CHARSET "ISO-8859-1";

/* Reference:
   Background: Grain: #D7CEC7
   Text: Blackboard: #565656
   Title: OxBlood: #76323F
   Body Background: Tan: #C09F80 
*/

body {
  margin: 0;
  padding: 0;
  background: #D7CEC7;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  color: #565656;
}

.underline {text-decoration: underline;}

.capital {font-variant: small-caps;}

.heading {font-family: 'Oswald', sans-serif;}

.bodybackground {background-color: #C09f80;}

.title {color: #76323F;}


 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



div.a {
	
        padding:3px;
	margin-left: auto;
	margin-right: auto;
	width: 1100 px;
        
}


div.z{
        background-color: #C09f80; 
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}